<h1>{{ blankText }}</h1>
<button mat-button color="primary" (click)="test()">TEST</button>

<span class="material-icons">
remove_red_eye
</span>

<ng-container [ngTemplateOutlet]="myTemplate" [ngTemplateOutletContext]="{ index: false }">

</ng-container>

<ng-template #myTemplate let-on="on" let-toggle="toggle" let-index="index">
    <h1>TEST</h1>
    <h1>{{on}}</h1>
    <h1>index: {{index }}</h1>
</ng-template>