@import "src/@fuse/scss/fuse";
@import '~@angular/flex-layout/mq';

#management-route-journey {

    .highlighted {
        a {
            color: white ;
        }
    }

    a {
        font-weight: 700;
        text-decoration: underline;
    }

    [hidden]{
        opacity: 0.5;
    }

    .hide{
        display:none !important;
    }

    .service-cards {
        margin-top: 10px !important;
        margin-left: 10px !important;

        .enabled-services {
            padding:3px 17px 17px 3px !important;
        }

        .mat-card {
            position:relative;
            padding: 5px 15%;
            min-height: 62px;
            cursor: pointer;
            border-radius: 12px;

            &.enabled{
                background-color: #1F263E;
                color: white;
                box-shadow: none !important;
            }

            z-elevation {
                box-shadow: 0px 2px 6px 0 rgba(0,0,0,0.2) !important;
            }

            span.seq {
                position: absolute;
                top: 50%;
                left: 9px;
                font-size: 12px;
                margin-top: -11px;
                line-height: 22px;
            }

            p.name {
                text-align:center;
                font-size:13px;
            }

            button {
                font-size: 0.9em;
                font-weight: 400;
                right: 0px;
                bottom: 0px;
                padding-left: 9px;
                padding-right: 9px;
                line-height: 30px;
                position: absolute;
            }

            .caution-icon {
                color: #DE6666;
                font-size: 12px;
                height: 12px;
                width: 12px;
                line-height: 22px;
            }
        }
    }
} /*-- end of #management-journey --*/

app-route-journey{
    overflow: hidden;
    max-height: calc(100vh - 52px);
}

.page-journey {
    #common {
        mat-form-field {
            width: 25%;
            margin-left: 1%;
            margin-right: 4%;
        }
    }

    .builder-body{
        margin: 17px 0px !important;
    }

    .builder-card{
        @media screen and (min-width: 960px) {
            max-height: calc(100% - 47px);
        }
    }

    app-builder-body {
        mat-divider {
            margin:27px 0px;
        }

        .builder-body-wrapper{
            margin-top: 12px;
        }
    }

    app-builder-left-bar {
        mat-card {
            padding: 10px 0px !important;
        }
        .left-bar-list {
            max-height: calc(100% - 89px);
            //overflow-y: auto;
        }
        .mat-list-item-content{
            font-size: 13px;
            font-weight: 400;
        }
    }
} /*-- end of .page-journey --*/

/* in-flight clone */
.gu-mirror {
    position: fixed !important;
    margin: 0 !important;
    z-index: 9999 !important;
    opacity: 0.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    pointer-events: none;


    .mat-card{
        position:relative;
        padding: 5px 15%;
        min-height: 62px;
        cursor: pointer;
        border-radius: 12px;

        &.enabled{
            background-color: #1F263E;
            color: white;
            box-shadow: none !important;
        }

        span.seq{
            position: absolute;
            top: 50%;
            left: 9px;
            font-size: 12px;
            margin-top: -11px;
            line-height: 22px;
        }
        p.name{
            text-align:center;
            font-size:13px;
        }
        button {
            font-size: 0.9em;
            font-weight: 400;
            right: -7px;
            bottom: -4px;
            position: absolute;
        }
        span.circle:before {
            content:"";
            width:10px;
            height:10px;
            background-color:lightgrey;
            display:inline-block;
            border-radius:50%;
            margin-right:9px;

        }
        .caution-icon {
            color: #DE6666;
            font-size: 12px;
            height: 12px;
            width: 12px;
            line-height: 22px;
        }
    }

}
/* high-performance display:none; helper */
.gu-hide {
    left: -9999px !important;
}
/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
/* added to the source element while its mirror is dragged */
.gu-transit {
    opacity: 0.2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
    filter: alpha(opacity=20);
}