<app-builder-page
    builderName="Journey"
    id="management-route-journey"
    class="page-journey"
    left-bar
    journey-edit-page
    [(commonForm)]="commonForm">

    <app-builder-left-bar fxLayout="column" fxFill>
        <div fxLayout="column"
             fxLayoutAlign="space-between stretch"
             style="overflow-y:hidden"
             fxFlexFill>
            <app-builder-title no-button>
                Add Processes
            </app-builder-title>

            <p class="descending secondary-text"
               fxFlex="none"
               style="margin:5px 0px;padding:0px 16px;">
                Select processes from this list to add to your journey.
            </p>

            <div class="left-bar-list"
                 fxFlex="auto"
                 fxLayout="column"
                 fxFill
                 fusePerfectScrollbar>
                <mat-selection-list
                    #processes
                    (selectionChange)="onProcessSelection($event, processes.selectedOptions.selected)">
                    <mat-list-option checkboxPosition="before"
                                     [value]="service.id"
                                     [selected]="service.enabled"
                                     *ngFor="let service of servicesData;">
                        {{ service.name }}
                    </mat-list-option>
                </mat-selection-list>
            </div>
        </div>
    </app-builder-left-bar>

    <app-builder-body>
        <div class="builder-body-wrapper">
            <div id="common"
                 fxLayout="row wrap"
                 fxLayoutAlign="space-between start">
                <app-builder-title fxFlex="100" no-button>Selected Processes</app-builder-title>

                <div class="service-cards"
                     [dragula]="SERVICES"
                     [dragulaModel]="displayServices"
                     (dragulaModelChange)="onDragulaModelChange($event)"
                     fxFlex="100"
                     fxLayout="row wrap"
                     fxLayoutAlign="none stretch"
                     style="overflow:hidden"
                     fxLayoutGap="20px grid">

                    <ng-container *ngFor="let service of displayServices; let i = index;">
                        <div class="enabled-services"
                             *ngIf="!!service.enabled"
                             fxFlex="25"
                             fxFlex.xs="100"
                             fxFlex.lt-md="50"
                             fxFlex.lt-lg="33"
                             fxFlex.gt-lg="20">
                            <mat-card class="z-elevation"
                                      [class.enabled]="service.selected"
                                      matTooltipPosition="below">
                                <div fxLayout="row"
                                     fxLayoutAlign="center center"
                                     style="height: 52px;">
                                    <span class="seq">
                                        <span>{{ i+1 }}</span>
                                    </span>
                                    <p class="name">{{ service.name }}</p>
                                </div>
                            </mat-card>
                        </div>
                    </ng-container>
                </div> <!--// end of service-cards-->
            </div>
        </div> <!--// end of builder-body-wrapper-->
        <mat-divider></mat-divider>
    </app-builder-body>

</app-builder-page>