<span fxLayout="row wrap" class="app-builder-phone-view">
    <span fxFlex="100"
          fxLayout="row wrap"
          fxFlexFill
          fxLayoutAlign="center stretch"
          fxLayoutGap="0px grid"
          class="preview-phone-background">
        <span  fxFlex="90%" class="preview-card-background">
            <div class="backgrounder" [style.background-image]="'url(' + backgroundImage + ')'">
                <ng-content></ng-content>
            </div>
        </span>
    </span>
</span>