<app-builder-page
    preview-phone-page
    builderName="Terms"
    [(commonForm)]="commonForm"
    (save)="saveData()">
    <app-builder-body>
        <form [formGroup]="termsForm">
            <div fxLayout="row wrap"
                 fxLayoutAlign="space-between start"
                 fxLayoutGap="0px grid">
                <app-builder-title fxFlex="100" no-button>Add Terms & Conditions Content</app-builder-title>
                <app-builder-attacher fxFlex="100"
                                      attachType="html"
                                      (onView)="onView()"
                                      (changeFile)="onFileChange($event)">
                </app-builder-attacher>
            </div>
        </form>
    </app-builder-body>

</app-builder-page>