<div fxLayout="column"
     fxFill
     style="padding: 4px;">
    <mat-card style="overflow:hidden"
              fxFill
              fxLayout="column">
        <ng-content></ng-content>
    </mat-card>
</div>