@import "src/@fuse/scss/fuse";

app-flex {

    .timeout-conf {
        align-items: center;

        p {
            height: 15px;
            color: rgba(0, 0, 0, 0.5);
            font-size: 12px;
            font-family: SourceSansPro-Regular;
            font-weight: normal;
            letter-spacing: 0px;
        }

        mat-form-field {
            width: 100px !important;
            color: rgba(0, 0, 0, 0.7);
            font-size: 12px;
            font-family: SourceSansPro-Regular;
            font-weight: normal;
            letter-spacing: 0px;
            margin-left: 0;
            margin-right: 0;
            padding-left: 2px;

            .right-align {
                text-align: center;
            }
        }
    }
}