<div fxLayout="row wrap"
     fxFlexFill
     fxLayoutAlign="space-around center"
     fxLayoutGap="0px grid">
    <h1 fxFlex="20"
        fxLayout="row"
        fxLayoutAlign="start"
        style="background-color: #00c853;">H1 Content</h1>

    <ng-container *ngIf="true; else default;">
        <div class="timeout-conf"
             fxFlex="50"
             fxFlexAlign="center"
             style="background-color: #b2ff59">
            <p fxFlex="none"
               style="margin:5px 0px; padding:0px 16px;">
                Discard unfinished application if customer does not complete in:
            </p>
            <mat-form-field>
                <input class="right-align" matInput type="number" [min]="0" [max]="30" [defaultValue]="0" />
                <span matSuffix>days</span>
            </mat-form-field>
            <mat-form-field>
                <input class="right-align" matInput type="number" [min]="0" [max]="30" [defaultValue]="0" />
                <span matSuffix>hours</span>
            </mat-form-field>
            <mat-form-field>
                <input class="right-align" matInput type="number" [min]="0" [max]="30" [defaultValue]="0" />
                <span matSuffix>mins</span>
            </mat-form-field>
        </div>
    </ng-container>
    <ng-template #default>
        <div fxFlex="50" fxFlexFill fxLayoutAlign="end center">
            <h1>TEST</h1>
        </div>
    </ng-template>
</div>



