#apiVersion: extensions/v1beta1
#kind: DaemonSet
#metadata:
#  name: kube-flannel-ds-amd64
#  namespace: kube-system
spec:
  template:
    spec:
      containers:
      - args:
        - --ip-masq
        - --kube-subnet-mgr
{% if flannel_iface is defined %}
        - --iface={{ flannel_iface }}
{% endif %}
        name: kube-flannel
