<app-builder-page class="route-credit-underwriting"
                  builderName="Policy"
                  [commonForm]="commonForm">
    <app-builder-body>
        <div fxLayout="row wrap"
             fxLayoutAlign="space-between start"
             fxLayoutGap="0px grid">
        </div>
    </app-builder-body>

</app-builder-page>