@import "src/@fuse/scss/fuse";

app-builder-page {
    width: 100%;

    .builder-card {
        background: white;
        border-radius: 0px 0px 6px 6px;
        border: 1px solid #DFE5F9;
        border-top: 0px;
        padding: 15px 26px;
    }

    .builder-header {
        margin-top: 1%;
        padding-left: 20px;

        mat-form-field {
            width: 25%;
            margin-left: 1%;
            margin-right: 4%;
        }
    }

    .builder-body {
        overflow:hidden;
        margin: 27px 0px;

        .item {
            &.content-item {
                padding: 0px 30px;

                .app-builder-attacher{
                    margin-left: 20px;
                }

                .mat-form-field{
                    padding-left:20px !important;
                }
            }

            .preview-phone-background {
                background-image: url('/assets/images/builder-page/ondot-phone.png');
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                padding-top: 20.8%;
                height: 607px !important; // width * 2.025
                padding-right: 3px;
            }

            .preview-card-background {
                height: 86.9%;
                border: 2.5px solid rgba(151,151,151,0.49);
                background-color: #FFFFFF;
                position: relative;
            } // end of .preview-card-background
        }
    }

    .product-background {
        button {
            font-size: 14px;
        }

        .label {
            color: #9B9B9B;
            font-size: 12px;
            line-height: 14px;
        }
    }
}