<div class="page-layout blank p-24" *ngIf="commonForm" fxLayout="row wrap" fxFlexFill>
    <div class="content" fxFlex="100" fxLayout="column" fxFlexFill>
        <ng-container *ngTemplateOutlet="content">
        </ng-container>
    </div>
</div>

<ng-template #content>
    <div fxFlex="none">
        <app-mgmt-table-header no-button>
            {{ builderName }} Details
        </app-mgmt-table-header>
    </div>

    <div class="builder-card"
         fxFlex="auto"
         fxLayoutAlign="space-between stretch"
         fxLayout="column"
         fxFlexFill>

        <div class="builder-header"
             fxFlex="none">
            <ng-container *ngIf="!!isUserGroup; else default_form;">
                <form [formGroup]="commonForm">
                    <mat-form-field>
                        <input matInput [placeholder]="builderName + ' Name'" formControlName="userGroupName" required>
                        <mat-error *ngIf="commonForm.get('userGroupName').hasError('required')">{{builderName}} Name is Required</mat-error>
                        <mat-error *ngIf="commonForm.get('userGroupName').hasError('minlength')">Minimum 10 characters required.</mat-error>
                        <mat-error *ngIf="commonForm.get('userGroupName').hasError('maxlength')">You have reached your maximum limit of characters(256) allowed.</mat-error>
                        <mat-error *ngIf="commonForm.get('userGroupName').hasError('pattern')">The {{builderName}} contains invalid characters</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Select Status" formControlName="status" name="status" required>
                            <mat-option *ngFor="let status of statusList;" [value]="status">
                                {{status}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </ng-container>
            <ng-template #default_form>
                <form [formGroup]="commonForm" >
                    <mat-form-field>
                        <input matInput [placeholder]="builderName + ' Title'" formControlName="contentTitle" required>
                        <mat-error *ngIf="commonForm.get('contentTitle').hasError('required')">Product Title is Required</mat-error>
                        <mat-error *ngIf="commonForm.get('contentTitle').hasError('minlength')">Minimum 10 characters required.</mat-error>
                        <mat-error *ngIf="commonForm.get('contentTitle').hasError('maxlength')">You have reached your maximum limit of characters(256) allowed.</mat-error>
                        <mat-error *ngIf="commonForm.get('contentTitle').hasError('pattern')">The Product Title contains invalid characters</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-select placeholder="Select FI" formControlName="fiToken" name="fiToken" [disabled]="!!editId" required>
                            <mat-option *ngFor="let fi of fiList;let i = index" [value]="fi.token">
                                {{fi.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </form>
            </ng-template>
        </div>

        <mat-divider fxFlex="none"></mat-divider>

        <div class="builder-body"
             fxFlex="100"
             fxLayout="row wrap"
             fxLayoutAlign="space-between start"
             fxLayoutAlign.lt-md="space-evenly start"
             fxLayoutGap="30px"
             fxLayoutGap.lt-md="30px"
             fxFlexFill>

            <div class="item left-bar-item"
                 *ngIf="_hasHostAttributes('left-bar')"
                 fxFlex="243px"
                 fxLayout="column"
                 style="overflow:hidden"
                 fxFlexFill>
                <ng-content select="app-builder-left-bar"></ng-content>
            </div>

            <div fxFlex
                 fxFlex.lt-md="100%"
                 fxLayout="column"
                 fxFlexFill>
                <div class="item content-item"
                     style="max-height: 100%;"
                     fusePerfectScrollbar
                     [fusePerfectScrollbarOptions]="{'suppressScrollX': true, suppressScrollY: !_hasHostAttributes('journey-edit-page')}">
                    <ng-content select="app-builder-body">
                    </ng-content>
                </div>
            </div>

            <div fxFlex="300px"
                 class="item phone-item"
                 *ngIf="_hasHostAttributes('preview-phone-page')">
                <ng-content select="app-builder-phone-view"></ng-content>
            </div>
        </div>
        <ng-container *ngIf="!_hasHostAttributes('no-button')">
            <mat-divider fxFlex="none"></mat-divider>
            <div  fxFlex="none" fxLayout="row wrap" class="button-container" fxLayoutAlign="end stretch">
                <button mat-button color="primary" (click)="cancel()">Cancel</button>
                <button mat-raised-button color="primary" (click)="saveAll()">Save</button>
            </div>
        </ng-container>
    </div>
</ng-template>