<app-builder-page
    builderName="Product"
    preview-phone-page
    [(commonForm)]="commonForm">
    <app-builder-body>
        <div fxLayout="row wrap"
             fxLayoutAlign="space-between start"
             fxLayoutGap="0px grid">
            <app-builder-title fxFlex="100" no-button>Card Image</app-builder-title>
            <app-builder-attacher fxFlex="100"
                                  [fileName]="fileName"
                                  (changeFile)="onChangeFile($event)"
                                  attachType="image">
            </app-builder-attacher>
            <mat-divider fxFlex="90"></mat-divider>

            <app-builder-title fxFlex="100" no-button>Product Market Name</app-builder-title>
            <div fxFlex="90" >
                <form [formGroup]="productForm" fxFlex="100" fxFlexFill fxLayout="row wrap" fxLayoutAlign="space-between start">
                    <mat-form-field>
                        <input matInput placeholder="Enter Product Market Name" formControlName="name" [(ngModel)]="preName" [maxLength]="commonNameMaxLength" required>
                        <mat-error *ngIf="productForm.get('name').hasError('required')">Product Name is Required</mat-error>
                        <mat-error *ngIf="productForm.get('name').hasError('minlength')">Minimum 10 characters required.</mat-error>
                        <mat-error *ngIf="productForm.get('name').hasError('maxlength')">You have reached your maximum limit of characters(50) allowed.</mat-error>
                        <mat-error *ngIf="productForm.get('name').hasError('pattern')">The Product Name contains invalid characters</mat-error>
                        <mat-hint align="end">{{ !!(productForm.get('name').value) ? productForm.get('name').value.length : 0 }} / {{ commonNameMaxLength }}</mat-hint>
                    </mat-form-field>

                    <mat-divider fxFlex="100"></mat-divider>

                    <app-builder-title fxFlex="100"
                                       [disabledRemove]="items.length === MIN_ITEM_NUM"
                                       [disabledAdd]="items.length > MAX_ITEM_NUM"
                                       (addItem)="addItem('')"
                                       (removeItem)="removeItem()">
                        Product Description
                    </app-builder-title>

                    <ng-container *ngFor="let item of items; let i=index;">
                        <mat-form-field fxFlex="100">
                            <input matInput placeholder="{{item.placeholder}}"
                                   [formControlName]="'features' + i"
                                   [name]="item.name"
                                   [value]="item.value"
                                   [(ngModel)]="item.value"
                                   [disabled]="isView"
                                   maxlength="120">
                            <mat-error *ngIf="productForm.get('features' + i).hasError('required')">Feature {{i+1}} is Required</mat-error>
                            <mat-hint align="end">{{item.value.length}} / 120</mat-hint>
                        </mat-form-field>
                    </ng-container>

                    <mat-divider fxFlex="100"></mat-divider>
                    <app-builder-title fxFlex="100"
                                       [isMetadata]="true"
                                       [disabledRemove]="metadataList.length === MIN_ITEM_NUM || isView"
                                       (removeMetadata)="removeMetadata()"
                                       (addMetadata)="addMetadata(null)">
                        Metadata
                    </app-builder-title>

                    <ng-container formArrayName="metadataList">
                        <ng-container *ngFor="let metadata of metadatas.controls; let i = index;">
                            <ng-container [formGroupName]="i">
                                <mat-form-field fxFlex="30">
                                    <input matInput placeholder="Key" formControlName="key" [(ngModel)]="metadataList[i].key">
                                </mat-form-field>
                                <mat-form-field fxFlex="30">
                                    <input matInput placeholder="Value" formControlName="value" [(ngModel)]="metadataList[i].value">
                                </mat-form-field>
                                <mat-form-field fxFlex="40">
                                    <input matInput placeholder="Description" formControlName="description" [(ngModel)]="metadataList[i].description">
                                </mat-form-field>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </form>
            </div>

        </div>
    </app-builder-body>
    <app-builder-phone-view backgroundImage="/assets/images/product/product_preview2.png">
        <div class="shield">&nbsp;</div>
        <div class="preview-card mat-elevation-z4" [style.background-image]="'url(' + previewUrl + ')'">&nbsp;</div>
        <div class="mask">&nbsp;</div>
        <div class="left-caret">
            <mat-icon>chevron_left</mat-icon>
        </div>
        <div class="right-caret">
            <mat-icon>chevron_right</mat-icon>
        </div>

        <div *ngIf="!!preName.length; else viewPreName" class="pre-name">{{preName}}</div>
        <ng-template #viewPreName>
            <div class="pre-name preview-mode">Product Name</div>
        </ng-template>

        <div class="pre-items">
            <ng-container *ngFor="let item of items">
                <div *ngIf="!!item.value.length; else viewItemValue" class="feature-items">
                    <span class="icon">•</span>
                    <span>{{item.value}}</span>
                </div>
                <ng-template #viewItemValue>
                    <div class="feature-items">
                        <span class="icon">•</span>
                        <span class="preview-mode">{{item.placeholder}}</span>
                    </div>
                </ng-template>
            </ng-container>
        </div>

    </app-builder-phone-view>
</app-builder-page>
