@import "src/@fuse/scss/fuse";

app-builder-body {
    mat-form-field {
        width: 100%;
    }
}

app-builder-phone-view {
    .shield{
        position: absolute;
        height: 45px;
        width: 100%;
        left: 0;
        top: 120px;
        background-color: #9B9B9B;
    }
    .mask{
        position: absolute;
        height: 135.24px;
        width: 207px;
        left: 29px;
        top: 73px;
        background-size: contain;
        background-position: center;
        background-image: url('/assets/images/product/card-ondot.png');
    }

    .preview-card{
        position: absolute;
        height: 123.24px;
        width: 202px;
        left: 30px;
        top: 78px;
        border: 0.5px solid #979797;
        border-radius: 13px;
        background-color: #EBEBEB;
        background-size: cover;
        background-position: center;
    }
    .left-caret{
        position: absolute;
        top: 122px;
        left: -5px;
        color: #C7C7C7;

        mat-icon {
            font-size: 40px !important;
        }

    }
    .right-caret{
        position: absolute;
        top: 122px;
        right: 11px;
        color: #C7C7C7;

        mat-icon {
            font-size: 40px !important;
        }
    }

    .pre-name{
        position: absolute;
        width: 100%;
        height: 20px;
        top: 219px;
        text-align: center;
        font-size: 18px;
    }

    .preview-mode {
        opacity: 0.5;
    }

    .pre-items {
        overflow: auto;
        height: 220px;
        margin-top: 248px;
        left: 20px;
        position: absolute;

        .feature-items {
            font-size: 13px;
            line-height: 15px;


            mat-icon {
                color: green;
                font-size: 26px !important;
                vertical-align: top;
            }

            .icon {
                height: 16px;
                width: 8px;
                color: #333333;
                font-family: "SF UI Text";
                font-size: 14px;
                line-height: 16px;
            }

            span {
                vertical-align: sub;
                margin-left: 5px;
            }
        }
    }
}