@import "src/@fuse/scss/fuse";

.app-builder-title {
    h1 {
        font-size:16px;
        font-weight: 600;
        line-height:19px;
    }
}

[no-button] {
    .app-builder-title {
        .button-container {
            display: none !important;
        }
    }
}