<div class="app-builder-title"
     fxLayout="row wrap"
     fxLayoutAlign="space-between center"
     fxLayoutGap="0px grid">
    <h1 fxFlex><ng-content></ng-content></h1>
    <div class="button-container"
         fxFlex="50"
         fxFlexFill
         fxLayoutAlign="end center">
        <button mat-button (click)="!!isMetadata ? onRemoveMetadata() : onRemoveItem()">
            <mat-icon>remove_circle</mat-icon>Delete
        </button>
        <button mat-button (click)="!!isMetadata ? onAddMetadata() : onAddItem()">
            <mat-icon>add_circle</mat-icon>Add
        </button>
    </div>
</div>