<div class="page-layout blank p-20" *ngIf="getLoadedApplication(referenceId); let loadedTx;">
    <ng-container *ngIf="processType == 'IDV'">
        <h1>IDV</h1>
        <ng-container *ngIf="loadedTx.idvTransactions.length" class="idv-wrapper-sets">
            <div class="wrapper-with-icon idv-wrapper mat-elevation-z0 internal-log-expansion-wrapper animated bounceInDown">
                <mat-expansion-panel [expanded]="true"
                                     class="internal-log-expansion mat-elevation-z0 mobile-number-verification-wrapper">
                    <mat-expansion-panel-header class="internal-log-expansion-header"
                                                [collapsedHeight]="'34px'"
                                                [expandedHeight]="'34px'">
                        <mat-panel-title>
                            <span class="status-title">
                                Customer ID & Verification
                            </span>
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <ng-container *ngFor="let idvTx of loadedTx.idvTransactions; let j = index">
                        <h1>{{ idvTx.docBackImagePath }}</h1>
                        <div fxLayout="row wrap"
                             fxFlexFill
                             fxLayoutAlign="none stretch"
                             fxLayoutGap="4px grid"
                             class="app-detail-divider"
                             style="position:relative">
                            <ng-container *ngIf="idvTx.docVerificationResult.authExtractData">
                                <button [hidden]="(idvTx.docVerificationResult.authExtractData.authResult | uppercase) != ('Attention' | uppercase)"
                                        mat-fab class="doc-result-icon attention animated flip fadeIn" matTooltip="Attention">
                                    <mat-icon aria-label="Attention">warning</mat-icon>
                                </button>
                                <button [hidden]="(idvTx.docVerificationResult.authExtractData.authResult | uppercase) != ('Failed' | uppercase)"
                                        mat-fab
                                        class="doc-result-icon failed animated flip fadeIn"
                                        matTooltip="Failed">
                                    <mat-icon aria-label="Failed">close</mat-icon>
                                </button>
                            </ng-container>
                        </div>
                    </ng-container>
                </mat-expansion-panel>
            </div>
        </ng-container>
    </ng-container>
</div>
