<h1 matDialogTitle>Terms & Conditions</h1>
<mat-dialog-content class="mat-typography">
    <span [innerHTML]="data.fileContent"></span>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-button color="primary" (click)="download()" download>Download</button>
    <button mat-button [mat-dialog-close]="true" mat-raised-button color="accent">Close</button>
</mat-dialog-actions>