@import "src/@fuse/scss/fuse";

app-product {
    #product {
        mat-paginator .mat-paginator-container {
            padding: 0 8px;
        }

        mat-form-field {
            .mat-form-field-label {
                font-weight: 200;
                font-size: 14px;
                color: rgba(0,0,0,0.5);
            }
            .mat-input-element {
                caret-color: rgba(0,0,0,0.5);
                color: #4A4A4A;
            }
            .mat-error {
                font-weight: 200;
                font-size: 12px;
            }
        }

        .mat-card-table {
            padding-top: 0px;
            padding-bottom: 0px;
        }

        table {
            width:100%;
            thead {
                .mat-header-row{
                    height: 50px;
                }
                .mat-header-cell {
                    text-align: center;
                    font-size: 13px;
                    font-weight: 700;
                    color: #000000;
                }
            }

            tbody {
                tr{
                    transition: background-color .5s;
                    cursor: pointer;
                    &:hover{
                        background-color: #1F263E0F;
                    }
                }
                .mat-cell {
                    text-align: center;
                    color: #4A4A4A;
                    font-weight: 400;
                    font-size: 13px;
                }

                .mat-form-field-flex {
                    height: 50px;
                    width: 250px;
                }

                mat-form-field {
                    .mat-form-field-wrapper {
                        margin: 0px;
                        padding: 5px 0px;
                    }
                }

                .mat-row.highlighted {
                    background-color: #1F263E;

                    .mat-cell {
                        color: white;
                    }
                }
            }
        }
    } // end of #product
}