<div id="product" class="page-layout blank p-24" fusePerfectScrollbar>
    <div class="content">
        <app-top-search-bar>
        </app-top-search-bar>

        <app-mgmt-table-header
            (create)="createProduct()">
            Product List
        </app-mgmt-table-header>

        <mat-card class="mat-card-table">
            <app-mgmt-table-list></app-mgmt-table-list>
        </mat-card>
    </div>
</div>