<div id="export-job" class="page-layout blank p-24" fusePerfectScrollbar>
    <div class="content">
        <app-top-search-bar></app-top-search-bar>

        <app-mgmt-table-header (create)="create()">
            Export Job List
        </app-mgmt-table-header>

        <mat-card class="mat-card-table">
            <app-mgmt-table-list [type]="type"
                                 [name] ='name'
                                 [dataSource]="dataSource">
            </app-mgmt-table-list>
        </mat-card>
    </div>
</div>