<div class="mgmt-table-header"
    fxLayout="row wrap"
     fxLayoutAlign="space-between center"
     fxLayoutGap="36px">
    <div fxFlex="1px"></div>
    <h1 fxFlex><ng-content></ng-content></h1>
    <div fxFlex="50"
         fxFlexFill
         fxLayoutAlign="end center">
        <button mat-button (click)="onAddClick()"><mat-icon>add_circle</mat-icon> Create</button>
    </div>
    <div fxFlex="1px"></div>
</div>