@import "src/@fuse/scss/fuse";

.mgmt-table-header {
    width: 100%;
    min-height: 47px;
    border-radius: 6px 6px 0 0;
    border: 1px solid rgba(151,151,151,0.61);
    background: #1F263E;
    color: #FFFFFF;

    h1 {
        font-size:16px;
        font-weight: 700;
        line-height:19px;
    }

    button{
        &[disabled]{
            color: rgba(255, 255, 255, 0.26) !important;
        }
    }
}

[no-button] {
    .mgmt-table-header {
        button {
            visibility: hidden;
        }
    }
}