<app-builder-page builderName="User Groups"
                  [(commonForm)]="commonForm">
    <app-builder-body>
        <div fxLayout="row wrap"
             fxLayoutAlign="space-between center"
             fxLayoutGap="15px">
            <app-builder-title no-button
                               fxFlex="100"
                               fxLayout="row wrap"
                               fxLayoutAlign="space-between end"
                               fxLayoutGap="0px grid">
                <span fxFlex="auto">Configure User Group Access Privileges</span>
            </app-builder-title>

            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node *matTreeNodeDef="let node"
                               matTreeNodeToggle
                               matTreeNodePadding
                               fxLayout="row wrap"
                               fxLayoutAlign="space-between center"
                               fxLayoutGap="0px grid">
                    <button fxFlex="30px" mat-icon-button disabled></button>
                    <mat-checkbox fxFlex="30px" [disabled]="!!isView"
                                  [checked]="checklistSelections[INDEX_MENU].isSelected(node)"
                                  (change)="todoLeafItemSelectionToggle(node, INDEX_MENU)" ></mat-checkbox>
                    <span fxFlex="300px">{{node.name  | translate}}</span>
                    <mat-checkbox fxFlex="90px"
                                  class="checklist-leaf-node read-check"
                                  [disabled]="!!isView || !(checklistSelections[INDEX_MENU].isSelected(node))"
                                  [checked]="checklistSelections[INDEX_VIEW].isSelected(node) && !!(checklistSelections[INDEX_MENU].isSelected(node))"
                                  (change)="todoLeafItemSelectionToggle(node, INDEX_VIEW)">View</mat-checkbox>
                    <mat-checkbox fxFlex="90px" class="checklist-leaf-node write-check"
                                  [disabled]="!!isView || !(checklistSelections[INDEX_MENU].isSelected(node))"
                                  [checked]="checklistSelections[INDEX_EDIT].isSelected(node) && !!(checklistSelections[INDEX_MENU].isSelected(node))"
                                  (change)="todoLeafItemSelectionToggle(node, INDEX_EDIT)">Edit</mat-checkbox>
                    <mat-divider fxFlex="100"></mat-divider>
                </mat-tree-node>

                <mat-tree-node *matTreeNodeDef="let node; when: hasChild"
                               matTreeNodePadding
                               fxLayout="row wrap"
                               fxLayoutAlign="space-between center"
                               fxLayoutGap="0px grid">
                    <button fxFlex="30px"
                            fxLayoutAlign="space-between center"
                            mat-icon-button matTreeNodeToggle>
                        <mat-icon fxFlex="20px" class="mat-icon-rtl-mirror">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    <mat-checkbox fxFlex="30px"
                                  [disabled]="!!isView"
                                  [checked]="descendantsAllSelected(node, INDEX_MENU)"
                                  [indeterminate]="descendantsPartiallySelected(node, INDEX_MENU)"
                                  (change)="todoItemSelectionToggle(node, INDEX_MENU)"></mat-checkbox>
                    <span fxFlex="300px">{{node.name | translate}}</span>
                    <mat-checkbox fxFlex="90px"
                                  class="read-check"
                                  [disabled]="!!isView || !(checklistSelections[INDEX_MENU].isSelected(node))"
                                  [checked]="descendantsAllSelected(node, INDEX_VIEW) && !!(checklistSelections[INDEX_MENU].isSelected(node))"
                                  [indeterminate]="descendantsPartiallySelected(node, INDEX_VIEW)"
                                  (change)="todoItemSelectionToggle(node, INDEX_VIEW)">
                        {{ node.level === 0 ? 'View all' : 'View' }}</mat-checkbox>
                    <mat-checkbox fxFlex="90px"
                                  class="write-check"
                                  [disabled]="!!isView || !(checklistSelections[INDEX_MENU].isSelected(node))"
                                  [checked]="descendantsAllSelected(node, INDEX_EDIT) && !!(checklistSelections[INDEX_MENU].isSelected(node))"
                                  [indeterminate]="descendantsPartiallySelected(node, INDEX_EDIT)"
                                  (change)="todoItemSelectionToggle(node, INDEX_EDIT)">
                        {{ node.level === 0 ? 'Edit all' : 'Edit' }}</mat-checkbox>
                </mat-tree-node>
            </mat-tree>
        </div>
    </app-builder-body>
</app-builder-page>