<div id="credit-underwriting" class="page-layout blank p-24" fusePerfectScrollbar>
    <div class="content">
        <app-top-search-bar></app-top-search-bar>

        <app-mgmt-table-header (create)="create()">
            Policy Management List
        </app-mgmt-table-header>

        <mat-card class="mat-card-table">
            <app-mgmt-table-list [type]="type"
                                 [dataSource]="dataSource"
                                 (edit)="edit($event)">
            </app-mgmt-table-list>
        </mat-card>
    </div>
</div>