
app-mgmt-table-list {
    position:relative;
    max-width: 100%;

    .progress {
        position: absolute;
        z-index: 9999;
        width: 200%;
        height: 200%;
        transform-origin: top left;
        transform: scale3d(0.5,0.5,1);
        background: rgba(255, 255, 255, 0.7);

        .spinner {
            position: relative;
            margin: 0 auto;
            top: 50%;
        }
    }

    table {
        width: 100%;
        table-layout:fixed;

        .mat-cell{
            padding-right: 1.5em;
            position: relative;
            word-break: break-all;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    .mat-button-base{
        margin-left: -10px;
        margin-right: 13px;

        .mat-icon {
            border-radius: 50%;
            font-family: 'Material Icons', Sans-serif;
        }
    }
}