<div>
    <ng-container [ngSwitch]="type">
        <ng-container *ngSwitchCase="TYPE_APPLICATIONS">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="Date Time">
                    <th mat-header-cell *matHeaderCellDef> Date Time </th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.createdTime }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="FI Token">
                    <th mat-header-cell *matHeaderCellDef> FI Token </th>
                    <td mat-cell *matCellDef="let element"> {{  element.fiToken }} </td>
                </ng-container>

                <ng-container matColumnDef="Customer ID">
                    <th mat-header-cell *matHeaderCellDef> Application ID </th>
                    <td mat-cell *matCellDef="let element"> {{  element.applicationReferenceId }} </td>
                </ng-container>

                <ng-container matColumnDef="Product Type">
                    <th mat-header-cell *matHeaderCellDef>Product Type</th>
                    <td mat-cell [ngClass]="{'not-defined': !element.productInfo}" *matCellDef="let element">
                        {{ element.productInfo ? element.productInfo.type : 'Not Selected' }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Product Name">
                    <th mat-header-cell *matHeaderCellDef>Product Name</th>
                    <td mat-cell [ngClass]="{'not-defined': !element.productInfo}" *matCellDef="let element">
                        {{ element.productInfo ? element.productInfo.name : 'Not Selected'}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Steps">
                    <th mat-header-cell *matHeaderCellDef>Current Step</th>
                    <td mat-cell *matCellDef="let element">
                        {{ element.processPosition || 0 }} of {{ element.processLastPosition}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Process Stage">
                    <th mat-header-cell *matHeaderCellDef>Current Process</th>
                    <td mat-cell *matCellDef="let element">{{ element.processType }}</td>
                </ng-container>

                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container  *ngIf="element.journeyStatus == 'FAIL'">Declined</ng-container>
                        <ng-container  *ngIf="element.journeyStatus == 'IN_PROGRESS'">In Progress</ng-container>
                        <ng-container  *ngIf="element.journeyStatus == 'NOT_STARTED'">In Progress</ng-container>
                        <ng-container  *ngIf="element.journeyStatus == 'UNCONFIRMED_SUCCESS'">Approved</ng-container>
                        <ng-container  *ngIf="element.journeyStatus == 'SUCCESS'">Approved</ng-container>
                        <ng-container  *ngIf="element.journeyStatus == 'ABANDONED'">Abandoned</ng-container>
                        <mat-icon class="secondary-text">chevron_right</mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-container>
        <ng-container *ngSwitchCase="TYPE_EXPORT_JOB">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let element">{{element.id}}</td>
                </ng-container>

                <ng-container matColumnDef="Last Updated">
                    <th mat-header-cell *matHeaderCellDef>Last Updated</th>
                    <td mat-cell *matCellDef="let element">{{ element.lastModified }}</td>
                </ng-container>

                <ng-container matColumnDef="FI Name">
                    <th mat-header-cell *matHeaderCellDef>FI Name</th>
                    <td mat-cell *matCellDef="let element">
                        {{ (element.financialInstitution.name.length > sliceSize) ? (element.financialInstitution.name | slice : 0 : sliceSize) + shorten : element.financialInstitution.name }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef>{{ name }} Name</th>
                    <td mat-cell *matCellDef="let element">{{ element.name}}</td>
                </ng-container>

                <ng-container matColumnDef="Next Execution Date">
                    <th mat-header-cell *matHeaderCellDef>Next Execution Date</th>
                    <td mat-cell *matCellDef="let element">{{ element.name}}</td>
                </ng-container>

                <ng-container matColumnDef="Job Execution Schedule">
                    <th mat-header-cell *matHeaderCellDef>Job Execution Schedule</th>
                    <td mat-cell *matCellDef="let element">{{ element.name}}</td>
                </ng-container>

                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">
                        {{ !element.status ? 'DRAFT' : element.status | titlecase}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <button matTooltip="Edit"><mat-icon>edit</mat-icon></button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-container>

        <ng-container *ngSwitchDefault>
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="No">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element">
                        <img src="/assets/images/table/drag-drop.svg" />
                    </td>
                </ng-container>

                <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let element">{{element.id}}</td>
                </ng-container>

                <ng-container matColumnDef="Last Updated">
                    <th mat-header-cell *matHeaderCellDef>Last Updated</th>
                    <td mat-cell *matCellDef="let element">{{ element.lastModified }}</td>
                </ng-container>

                <ng-container matColumnDef="FI Name">
                    <th mat-header-cell *matHeaderCellDef>FI Name</th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container *ngIf="!!element.financialInstitution; else fiName">
                            {{ (element.financialInstitution.name.length > sliceSize) ? (element.financialInstitution.name | slice : 0 : sliceSize) + shorten : element.financialInstitution.name }}
                        </ng-container>
                        <ng-template #fiName>
                            {{ (element.fiName.length > sliceSize) ? (element.fiName | slice : 0 : sliceSize) + shorten : element.fiName }}
                        </ng-template>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let element">{{ element.name}}</td>
                </ng-container>

                <ng-container matColumnDef="By">
                    <th mat-header-cell *matHeaderCellDef>Last Modified By</th>x
                    <td mat-cell *matCellDef="let element">{{ !element.creator ? 'James G Gordan' : element.creator }}</td>
                </ng-container>

                <ng-container matColumnDef="Status">
                    <th mat-header-cell *matHeaderCellDef>Status</th>
                    <td mat-cell *matCellDef="let element">
                <span>
                    <span>{{ !element.status ? 'DRAFT' : element.status | titlecase}}</span>
                </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="Actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let element">
                        <button matTooltip="Edit" (click)="onEdit(element.id);">
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button matTooltip="Delete">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row
                    class="tr-drag"
                    *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-container>
    </ng-container>
</div>