@import "src/@fuse/scss/fuse";

.ondot-builder-attacher {

    button {
        width: auto !important;
    }

    .label {
        color: #9B9B9B;
        font-size: 12px;
        line-height: 14px;
    }
}