<div class="app-builder-attacher"
     fxFlex="100"
     fxLayout="row wrap"
     fxLayoutGap="50px"
     fxLayoutAlign="start center">
    <ng-container *ngIf="(attachType | lowercase) === 'image'">
        <button mat-raised-button color="primary" (click)="fileInput.click()">Upload card Image</button>
        <input hidden type="file" id="uploadFile" accept="image/*" (change)="onChangeFile($event)" #fileInput>
        <span fxLayoutGap="10px"  *ngIf="fileName">
            <img fxFlex="23px" alt="Image Icon" src="/assets/images/builder-attacher/attach-image-icon.svg" />
            <span class="label">
                Selected: <br>
                {{ !!fileName ? fileName : 'Card-Image.png'}}
            </span>
        </span>
    </ng-container>

    <ng-container *ngIf="(attachType | lowercase) === 'html'">
        <button mat-raised-button color="primary" (click)="fileInput.click()">Upload HTML file</button>
        <input hidden type="file" id="uploadFile" accept="text/html" (change)="onChangeFile($event)" #fileInput>
        <span fxLayoutGap="10px" *ngIf="fileName">
            <img fxFlex="16px" alt="HTML Icon" src="/assets/images/builder-attacher/attach-html-icon.svg">
            <span class="label">
                Selected: <br>
                {{ !!fileName ? fileName : 'Terms-Conditions.html'}}
            </span>
            <span>
                <button style="margin-bottom: 2px;" mat-raised-button (click)="onViewHtml()">View</button>
            </span>
            <a [hidden]="true" href="#" id="link" [download]='!!fileName ? fileName : "Terms-Conditions.html"'></a>
        </span>
    </ng-container>
</div>