<div id="terms" class="page-layout blank p-24" fusePerfectScrollbar>
    <div class="content">
        <app-top-search-bar></app-top-search-bar>
        <app-mgmt-table-header
            (create)="create()"
        >
            Terms & Conditions List
        </app-mgmt-table-header>
    </div>

</div>