apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ k8_resource_pv_name }}
  namespace: {{ kubernetes_namespace }}
spec:
  capacity:
    storage: 11Gi
  accessModes:
    - ReadWriteMany
  claimRef:
      namespace: {{ kubernetes_namespace }}
      name: {{ k8_resource_pvc_name }}
  nfs:
    server: {{ nfs_mount_server }}
    # Exported path of your NFS server
    path: {{ nfs_mount_path }}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: {{ k8_resource_pvc_name }}
  namespace: {{ kubernetes_namespace }}
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 11Gi
  volumeName: {{ k8_resource_pv_name }}