@import "src/@fuse/scss/fuse";

app-fi-onboarding {
    #fi-onboarding {
        .line-height-20{
            line-height:20px;
        }

        .search {
            .mat-form-field-wrapper{
                padding-bottom: 0px;
            }
        }

        #title {
            background-color: #1F263E;
            color: white;
            padding: 13.5px;
            padding-left: 48.5px;
            padding-right: 39.5px;

            .mat-button{
                &[disabled]{
                    color: rgba(255,255,255,0.26) !important;
                }
            }
        }

        mat-card-title {
            font-size: 15px;
            margin-bottom: 0px;
        }

    } // #fi-onboarding
} // app-fi-onboarding