<div id="fi-onboarding" class="page-layout blank p-24" fusePerfectScrollbar>
    <div class="content">
        <app-top-search-bar (clickCommonSearch)="commonSearch = $event; search();">

        </app-top-search-bar>

        <app-mgmt-table-header
            (create)="create()">
            Financial Institution List
        </app-mgmt-table-header>

        <mat-card class="mat-card-table">
            <app-mgmt-table-list [dataSource]="dataSource"
                                 [type]="type"
                                 (edit)="edit($event)">
            </app-mgmt-table-list>
        </mat-card>
    </div>
</div>