<div id="route-fi" class="page-layout blank p-24" fusePerfectScrollbar>
    <div class="content">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header  [collapsedHeight]="'47px'" [expandedHeight]="'47px'" class="step-active-color">
                    <mat-panel-title>
                        FI Contact Details
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <form [formGroup]="fiForm">
                    <mat-form-field class="add-fi-form-field">
                        <input matInput placeholder="Financial Institution Name" formControlName="name" required>
                        <mat-error *ngIf="fiForm.get('name').hasError('required')">Financial Institution Name is Required</mat-error>
                        <mat-error *ngIf="fiForm.get('name').hasError('maxlength')">You have reached your maximum limit of characters(256) allowed.</mat-error>
                        <mat-error *ngIf="fiForm.get('name').hasError('pattern')">The Financial Institution Name contains invalid characters</mat-error>
                    </mat-form-field>

                    <mat-form-field class="field-margin-right">
                        <input matInput type="email" placeholder="Contact Email" formControlName="contactEmailAddress">
                        <mat-error *ngIf="fiForm.get('contactEmailAddress').hasError('pattern')">Enter a valid email</mat-error>
                    </mat-form-field>

                    <mat-form-field class="field-margin-left">
                        <input matInput type="email" placeholder="Billing Email" formControlName="billingEmailAddress">
                        <mat-error *ngIf="fiForm.get('billingEmailAddress').hasError('pattern')">Enter a valid email</mat-error>
                    </mat-form-field>

                    <mat-form-field class="add-fi-form-field">
                        <input matInput formControlName="sourceEmailAddress" placeholder="Source Email Address to Communicate with End Users (ex. user registration)" required>
                        <mat-error *ngIf="fiForm.get('sourceEmailAddress').hasError('pattern')">Enter a valid email</mat-error>
                    </mat-form-field>

                    <mat-form-field class="add-fi-form-field">
                        <input matInput placeholder="FI Token" formControlName="token" [readonly]="isReadOnly" [ngStyle]="{'color': isReadOnly ? 'gray' : 'black' }"required>
                        <mat-error *ngIf="fiForm.get('token').hasError('required')">FI Token is Required</mat-error>
                        <mat-error *ngIf="fiForm.get('token').hasError('maxlength')">You have reached your maximum limit of characters(20) allowed.</mat-error>
                        <mat-error *ngIf="fiForm.get('token').hasError('pattern')">The Financial Institution token contains invalid characters</mat-error>
                    </mat-form-field>

                    <mat-form-field class="field-margin-right">
                        <input matInput placeholder="FI Alias 1" formControlName="tokenAlias1">
                        <mat-error *ngIf="fiForm.get('tokenAlias1').hasError('maxlength')">You have reached your maximum limit of characters(20) allowed.</mat-error>
                        <mat-error *ngIf="fiForm.get('tokenAlias1').hasError('pattern')">The Financial Institution token contains invalid characters</mat-error>
                    </mat-form-field>

                    <mat-form-field class="field-margin-left">
                        <input matInput placeholder="FI Alias 2" formControlName="tokenAlias2">
                        <mat-error *ngIf="fiForm.get('tokenAlias2').hasError('maxlength')">You have reached your maximum limit of characters(20) allowed.</mat-error>
                        <mat-error *ngIf="fiForm.get('tokenAlias2').hasError('pattern')">The Financial Institution token contains invalid characters</mat-error>
                    </mat-form-field>

                    <mat-form-field class="add-fi-form-field">
                        <mat-select placeholder="FI Home Country" formControlName="defaultHomeCountryId" required [disabled]="isView">
                            <mat-option *ngFor="let country of countries;" [value]="country.id">
                                {{ country.label }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div fxLayout="row wrap"
                         fxLayoutAlign="space-between start"
                         fxLayoutGap="0px grid">
                        <mat-divider fxFlex="100"></mat-divider>
                        <app-builder-title fxFlex="100"
                                             [isMetadata]="true"
                                             [disabledRemove]="metadataList.length === MIN_ITEM_NUM || isView"
                                             (removeMetadata)="removeMetadata()"
                                             (addMetadata)="addMetadata(null)">
                            Metadata
                        </app-builder-title>

                        <ng-container formArrayName="metadataList">
                            <ng-container *ngFor="let metadata of metadatas.controls; let i = index;">
                                <ng-container [formGroupName]="i">
                                    <mat-form-field fxFlex="30">
                                        <input matInput placeholder="Key" formControlName="key" [(ngModel)]="metadataList[i].key">
                                        <mat-error *ngIf="metadatas.controls[i].get('key').errors?.required">Metadata Ket is Required</mat-error>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="30">
                                        <input matInput placeholder="Value" formControlName="value" [(ngModel)]="metadataList[i].value">
                                        <mat-error *ngIf="metadatas.controls[i].get('value').errors?.required">Metadata value is Required</mat-error>
                                    </mat-form-field>
                                    <mat-form-field fxFlex="35">
                                        <input matInput placeholder="Description" formControlName="description" [(ngModel)]="metadataList[i].description">
                                    </mat-form-field>
                                </ng-container>
                            </ng-container>
                        </ng-container>
                    </div>
                </form>

                <mat-action-row>
                    <button mat-button color="primary" (click)="cancel()">Cancel</button>
                    <button mat-button color="primary" (click)="saveFi()" [disabled]="fiForm.invalid || isView">Save</button>
                </mat-action-row>

            </mat-expansion-panel>
        </mat-accordion>


    </div>
</div>