@import "src/@fuse/scss/fuse";

app-route-fi {
    mat-accordion {
        margin-top: 10px;

        mat-expansion-panel {

            mat-expansion-panel-header {
                height: 64px;
                background-color: #1F263E !important;

                mat-panel-title {
                    padding: 13.5px;
                    padding-left: 24.5px;
                    font-size: 15px;
                    color: white !important;
                }
            }

            .mat-expansion-panel-body {
                margin-top: 5px;
            }
        }

        form {
            width: 80%;

            mat-form-field {
                margin: 2px 0px;
            }

            .add-fi-form-field {
                width: 100%;
            }

            .field-margin-right {
                width: 49%;
                margin-right: 1%;
            }

            .field-margin-left {
                width: 49%;
                margin-left: 1%;
            }

            .mat-input-wrapper-40 {
                width: 45%;
                margin-right: 20px;
            }
        }

        .mat-divider {
            margin: 15px 0px;
        }
    } // end of mat-accordion
}