<div>
    <mat-form-field appearance="fill">
        <input class="right-align" matInput type="number" [min]="0" [max]="30" [defaultValue]="0">
        <span matSuffix>days</span>
    </mat-form-field>
    <mat-form-field>
        <input class="right-align" matInput type="number" [min]="0" [max]="23" [defaultValue]="0">
        <span matSuffix>hours</span>
    </mat-form-field>
    <mat-form-field>
        <input class="right-align" matInput type="number" [min]="0" [max]="59" [defaultValue]="0">
        <span matSuffix>mins</span>
    </mat-form-field>
</div>