<div id="management-journey" class="page-layout blank p-24" fusePerfectScrollbar>
    <div class="content">
        <app-top-search-bar>
        </app-top-search-bar>
        <app-mgmt-table-header
            (create)="create()">
            Journey List
        </app-mgmt-table-header>
    </div>
</div>