<div id="applications" class="page-layout blank p-24" fusePerfectScrollbar>

    <div class="content p-24 mat-elevation-z0">
        <app-top-search-bar></app-top-search-bar>

        <app-mgmt-table-header (create)="create()">
            Application List
        </app-mgmt-table-header>

        <mat-card class="mat-card-table">
            <app-mgmt-table-list [dataSource]="dataSource" [type]="type" [name]="name">
            </app-mgmt-table-list>
        </mat-card>
    </div>

</div>