<h1 matDialogTitle>Delete Product</h1>
<mat-dialog-content class="mat-typography">
    <h3>Do you want to delete?</h3>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false" mat-button color="primary">Cancel</button>
    <button mat-button [mat-dialog-close]="true" mat-raised-button color="accent" (click)="deleteConfirm()">Delete</button>
</mat-dialog-actions>