<app-builder-page builderName="Export Job"
                  [commonForm]="commonForm">
    <app-builder-body>
        <div style="height: 20vh;"
             fxLayout="row"
             fxLayoutAlign="start stretch"
             fxLayoutGap="0px grid">

            <div fxFlexFill
                 fxLayout="column"
                 fxLayoutAlign="start"
                 fxFlex="50">
                <app-builder-title no-button>Application Status</app-builder-title>
                <span class="desc">
                Applications with the marked statuses will be included in this export.
            </span>

                <span class="list-checkbox">
                <ul>
                    <li *ngFor="let status of applicationStatusList;">
                        <mat-checkbox [value]="status.value" (change)="onCheckChange(status);">
                            {{ status.description }}
                        </mat-checkbox>
                    </li>
                </ul>
            </span>
            </div>

            <div fxFlexFill
                 fxLayout="column"
                 fxLayoutAlign="start"
                 fxFlex="50">
                <app-builder-title no-button>Schedule Export</app-builder-title>
                <span class="desc">
                Exports will be generated with the selected frequency. <br />
                A custom export will include applications within the selected date range.
            </span>
                <span>
                    <mat-radio-group fxFlexFill
                                     fxLayout="column"
                                     fxLayoutAlign="center"
                                     fxLayoutGap="20px"
                                     [(ngModel)]="scheduleExport">
                        <mat-radio-button [value]="'Daily'">Daily</mat-radio-button>
                        <mat-radio-button [value]="'Monthly'">Monthly</mat-radio-button>
                        <mat-radio-button [value]="'Custom'">Custom</mat-radio-button>
                    </mat-radio-group>
                </span>
                <ng-container *ngIf="scheduleExport === 'Custom'">
                    <span class="date-picker">
                        <mat-form-field>
                          <mat-label>Choose a date</mat-label>
                          <input matInput [matDatepicker]="picker">
                          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </span>
                </ng-container>
            </div>
        </div>

        <form [formGroup]="exportForm">
            <div fxFlexFill
                 fxLayout="row"
                 fxLayoutAlign="start stretch"
                 fxLayoutGap="0px grid">
                <div fxFlexFill
                     fxLayout="column"
                     fxLayoutAlign="start stretch"
                     fxFlex="50">
                    <app-builder-title no-button>Email Address</app-builder-title>
                    <span class="desc">
                        A status update of the job execution will be sent to the email(s) below.
                    </span>
                    <span>
                        <mat-form-field fxFlex="80">
                            <input matInput type="email" placeholder="Email Address 1" formControlName="email1"/>
                            <mat-error *ngIf="exportForm.get('email1').hasError('pattern')">Enter a valid email</mat-error>
                        </mat-form-field>
                    </span>
                    <span>
                        <mat-form-field fxFlex="80">
                            <input matInput type="email" placeholder="Email Address 2" formControlName="email2"/>
                            <mat-error *ngIf="exportForm.get('email2').hasError('pattern')">Enter a valid email</mat-error>
                        </mat-form-field>
                    </span>
                </div>
            </div>
        </form>
    </app-builder-body>

</app-builder-page>
