app-route-export-job {
    app-builder-body {
        .desc {
            height: 15px;
            color: rgba(0, 0, 0, 0.5);
            font-size: 12px;
            font-family: SourceSansPro-Regular, SourceSansPro-Bold, SourceSansPro-Semibold, Sans-serif;
            font-weight: normal;
            letter-spacing: 0px;
        }

        ul {
            list-style-type: none;
            margin-top: 4px;

            li {
                margin: 10px 0px;
                width: 277px;
                height: 18px;
                color: rgb(0, 0, 0);
                font-size: 13px;
                font-family: SourceSansPro-Regular, SourceSansPro-Bold, SourceSansPro-Semibold, Sans-serif;
                font-weight: normal;
            }
        }

        mat-radio-group {
            margin: 20px 0px 10px 0px;
            padding-left: 20px;

            mat-radio-button {
                width: 47px;
                height: 18px;
                color: rgb(0, 0, 0);
                font-size: 13px;
                font-family: SourceSansPro-Regular, SourceSansPro-Bold, SourceSansPro-Semibold, Sans-serif;
                font-weight: normal;
            }
        }

        .popover-css{
            padding: 0px !important;
            margin: 0px !important;
        }
    }
}