apiVersion: v1
kind: Secret
metadata:
  name: dcs-accountverification-db
  namespace: {{ kubernetes_namespace }}
type: Opaque
stringData:
  url: jdbc:oracle:thin:@//oracle-db.system-tools.svc.cluster.local:1521/xe
  username: odaccveri
  password: ondot1234
---
apiVersion: v1
kind: Secret
metadata:
  name: appconfigmgmt-db
  namespace: {{ kubernetes_namespace }}
type: Opaque
stringData:
  url: jdbc:oracle:thin:@//oracle-db.system-tools.svc.cluster.local:1521/xe
  username: odappcfg
  password: ondot1234
---
apiVersion: v1
kind: Secret
metadata:
  name: dcs-cinfo-db
  namespace: {{ kubernetes_namespace }}
type: Opaque
stringData:
  url: jdbc:oracle:thin:@//oracle-db.system-tools.svc.cluster.local:1521/xe
  username: odcust
  password: ondot1234 
---
apiVersion: v1
kind: Secret
metadata:
  name: dcs-configmgmt-db
  namespace: {{ kubernetes_namespace }}
type: Opaque
stringData:
  url: jdbc:oracle:thin:@//oracle-db.system-tools.svc.cluster.local:1521/xe
  username: odcfgmgmt
  password: ondot1234 
---
apiVersion: v1
kind: Secret
metadata:
  name: dcs-creditcheck-db
  namespace: {{ kubernetes_namespace }}
type: Opaque
stringData:
  url: jdbc:oracle:thin:@//oracle-db.system-tools.svc.cluster.local:1521/xe
  username: odcrd
  password: ondot1234 
---
apiVersion: v1
kind: Secret
metadata:
  name: dcs-eligibility-db
  namespace: {{ kubernetes_namespace }}
type: Opaque
stringData:
  url: jdbc:oracle:thin:@//oracle-db.system-tools.svc.cluster.local:1521/xe
  username: odelg
  password: ondot1234 
---
apiVersion: v1
kind: Secret
metadata:
  name: dcs-esignature-db
  namespace: {{ kubernetes_namespace }}
type: Opaque
stringData:
  url: jdbc:oracle:thin:@//oracle-db.system-tools.svc.cluster.local:1521/xe
  username: odesig
  password: ondot1234 
---
apiVersion: v1
kind: Secret
metadata:
  name: dcs-idv-db
  namespace: {{ kubernetes_namespace }}
type: Opaque
stringData:
  url: jdbc:oracle:thin:@//oracle-db.system-tools.svc.cluster.local:1521/xe
  username: odidv
  password: ondot1234 
---
apiVersion: v1
kind: Secret
metadata:
  name: dcs-journey-db
  namespace: {{ kubernetes_namespace }}
type: Opaque
stringData:
  url: jdbc:oracle:thin:@//oracle-db.system-tools.svc.cluster.local:1521/xe
  username: odjrne
  password: ondot1234 
---
apiVersion: v1
kind: Secret
metadata:
  name: dcs-mfa-db
  namespace: {{ kubernetes_namespace }}
type: Opaque
stringData:
  url: jdbc:oracle:thin:@//oracle-db.system-tools.svc.cluster.local:1521/xe
  username: odmfa
  password: ondot1234 
---
apiVersion: v1
kind: Secret
metadata:
  name: dcs-productinfo-db
  namespace: {{ kubernetes_namespace }}
type: Opaque
stringData:
  url: jdbc:oracle:thin:@//oracle-db.system-tools.svc.cluster.local:1521/xe
  username: odprod
  password: ondot1234 
---
apiVersion: v1
kind: Secret
metadata:
  name: dcs-regionvalidator-db
  namespace: {{ kubernetes_namespace }}
type: Opaque
stringData:
  url: jdbc:oracle:thin:@//oracle-db.system-tools.svc.cluster.local:1521/xe
  username: odloc
  password: ondot1234 
---
apiVersion: v1
kind: Secret
metadata:
  name: dcs-riskassessment-db
  namespace: {{ kubernetes_namespace }}
type: Opaque
stringData:
  url: jdbc:oracle:thin:@//oracle-db.system-tools.svc.cluster.local:1521/xe
  username: odrskasmt
  password: ondot1234 
---
apiVersion: v1
kind: Secret
metadata:
  name: dcs-terms-db
  namespace: {{ kubernetes_namespace }}
type: Opaque
stringData:
  url: jdbc:oracle:thin:@//oracle-db.system-tools.svc.cluster.local:1521/xe
  username: odtac
  password: ondot1234 
---
apiVersion: v1
kind: Secret
metadata:
  name: dcs-instantissuance-db
  namespace: {{ kubernetes_namespace }}
type: Opaque
stringData:
  url: jdbc:oracle:thin:@//oracle-db.system-tools.svc.cluster.local:1521/xe
  username: odinst
  password: ondot1234 
---
apiVersion: v1
kind: Secret
metadata:
  name: dcs-iap-db
  namespace: {{ kubernetes_namespace }}
type: Opaque
stringData:
  url: jdbc:oracle:thin:@//oracle-db.system-tools.svc.cluster.local:1521/xe
  username: odiap
  password: ondot1234
