apiVersion: v1
kind: Secret
metadata:
  name: dcs-global-config
  namespace: {{ kubernetes_namespace }}
type: Opaque
stringData:
  plaintext_platform_key_arn: none
  encrypted_application_key_arn: none
  encryption_mode: none
