apiVersion: v1
kind: PersistentVolume
metadata:
  name: efs-persist-dcs-devel
  namespace: {{ kubernetes_namespace }}
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteMany
  claimRef:
      namespace: {{ kubernetes_namespace }}
      name: efs-persist-dcs-devel
  nfs:
    server: {{ nfs_server_ip }}
    # Exported path of your NFS server
    path: {{ nfs_mount_path }}
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: efs-persist-dcs-devel
  namespace: {{ kubernetes_namespace }}
spec:
  storageClassName: ""
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 11Gi
  volumeName: efs-persist-dcs-devel