<span fxLayout="row"
      fxLayoutGap="20px"
      fxLayoutAlign="space-between center"
      fxFlexFill>
    <span fxFlex>
        <mat-form-field fxFlex="100" appearance="fill" class="title">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="{{'TEXT.SEARCH_TITLE' | translate}}" />
        </mat-form-field>
    </span>

    <span fxFlex="34"
          fxFlexFill
          fxLayoutAlign="none center"
          fxLayout="row wrap">
        <span fxFlex="48">
            <mat-form-field fxFlex="100" appearance="fill">
                <input readonly matInput placeholder="From">

                <mat-icon matSuffix>date_range</mat-icon>
                <mat-icon matSuffix>access_time</mat-icon>
            </mat-form-field>
        </span>
        <span fxFlex="4"></span>
        <span fxFlex="48">
            <mat-form-field fxFlex="100" appearance="fill">
                <input readonly matInput placeholder="To">

                <mat-icon matSuffix>date_range</mat-icon>
                <mat-icon matSuffix>access_time</mat-icon>
            </mat-form-field>
        </span>
    </span>

    <span fxFlex="15">
        <mat-form-field fxFlex="100" appearance="fill">
            <mat-select placeholder="{{'TEXT.SEARCH_JOURNEY_STATUS' | translate}}" multiple>
                    <mat-option value="option">Published</mat-option>
                </mat-select>
        </mat-form-field>
    </span>

    <span fxFlex="120px" class="search-button" fxLayoutAlign="end center">
        <button mat-raised-button color="primary" (click)="onClickCommonSearch($event)">Search</button>
    </span>
</span>